.heading {
    width: 40%;
    font-size: xx-large;
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: example;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    z-index: 5;
    margin-top: 25px;
    margin-bottom: 25px;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 681.9px;
    overflow-x: hidden;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 600px;
        top: 0px;
    }

    50% {
        left: 900px;
    }

    75% {
        left: 600px;
    }

    100% {
        left: 500px;
        top: 0px;
    }
}

.headcon {
    background-color: #3F53e3;
    height: 400px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.devinfo {
    display: flex;
    flex-direction: row;
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 20px;
}


.about {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background: #a8c0ff;
    background: -webkit-linear-gradient(to top, #a8c0ff, #3f2b96);
    background: linear-gradient(to top, #a8c0ff, #3f2b96);
}

.aboutimg {
    width: 500px;
}